.fourth {
    padding: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 0;
}

.education {
    background-color: #810CA8;
    box-shadow: 0rem 1rem 1rem #810CA8;
    border-radius: 0 5% 5% 0;
    padding: 5rem;
    color: #FCFAF1;
}

.education .header {
    font-weight: bolder;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    color: #FCFAF1;
    text-align: left;
}

.education-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    grid-gap: 1.875rem;
    padding: 2rem;
}

.education-item {
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #dddddd;
}

.education-item:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.25rem);
}

.education-item h2 {
    font-weight: 500;
    color: black;
    margin-bottom: 0.625rem;
}

.education-item h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #232323;
    margin-bottom: 0.625rem;
}

.education-item p {
    font-size: 1.2rem;
    color: #343434;
    margin-bottom: 1.25rem;
}

@media (max-width: 576px) {
    body {
        width: auto;
        overflow-x: hidden;
    }

    .fourth {
        padding: 2rem 0rem 2rem 0rem;
    }

    .education {
        padding: 3rem 1.5rem;
        border-radius: 0 0 3% 3%;
    }

    .education .header {
        font-size: 2.5rem;
        text-align: center;
    }

    .education-details {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.25rem;
    }

    .education-item {
        padding: 1rem;
        border-radius: 5%;
    }

    .education-item h3 {
        font-size: 1.25rem;
    }

    .education-item p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
    }
}