.second {
    padding: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 0;
}

.skills {
    background-color: #594545;
    box-shadow: 1rem 1rem 1rem #413232;
    padding: 5rem;
    text-align: center;
    border-radius: 0 5% 5% 0;
    animation: fadeInLeft 4s ease-in-out;
}

.skills .header {
    font-weight: bolder;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    text-align: right;
    color: #ffffff;

}

.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    padding: 3rem;
    grid-gap: 1rem;
}

.ls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0.625rem;
    transition: transform 0.3s;
}

.ls:hover .svg {
    transform: scale(1.2);
}

.ls span {
    font-size: 1rem;
    padding: 1rem;
    color: #ffffff;
}

@media (max-width: 576px) {
    body {
        width: auto;
        overflow-x: hidden;
    }

    .second {
        padding: 2rem 0rem 2rem 0rem;
    }

    .skills {
        border-radius: 0 0 3% 3%;
    }

    .skills .header {
        font-size: 2.5rem;
        text-align: center;
    }

    .svg {
        width: 4rem;
        height: 4rem;
    }

    .logos {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        padding: 1.5rem;
        justify-content: center;
    }

    .ls span {
        font-size: 0.875rem;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}